<main>
	<article>
		<h1>메모리스트 페이지입니다.</h1>
		<section id="memolist">
					<% predate = 0 %>
					<% @star = " " %>
					<% @memolist.each do |p|%>
						<% if p.date != predate %>
							<hr>
							<h1><%= p.date %></h1>
							<% predate = p.date %>
						<% end %>
						<div class="list">
							<p>
								<a href="/home/reading/<%=p.id%>"><%= p.title %> ---- <%=p.category%> </a>
							</p>
							<% if p.favorite != "checked"%>
							<% @star="-o"%>
							<% else %>
							<% @star=" "%>
							<%end%>
							<form action="/home/lifachange/<%=p.id%>" method="GET">
	                    		<button><i class="fa fa-star<%=@star%>" aria-hidden="true"></i></button>
	               			</form>	
						</div>
					<% end %>
		</section>
	    <p class = "btn"><a href="/home/menu">메뉴로</a></p>
	</article>
</main>

<footer>
	<form action="/home/searchlist" method="GET">
    	<p>검색 :<input type="text" name="keyword" class="title" placeholder="검색하기"><input type="submit"></p>
    </form>
		<p class=btn><%= link_to "로그아웃", destroy_user_session_path, :method => :delete %></p>
</footer>

   
