<main>
<article>

<h1>글읽기 페이지입니다.</h1>

<section class="reader" >
    <div class="reader_wrapper">
        <div class="reader_left">
            <h2><%= @spe_memo.title %> - <%= @spe_memo.category %></h2>
            <p><%= @spe_memo.date %></p>
        </div>
        <div class="reader_right">
            <div>
                <a href="/home/deleting/<%= @spe_memo.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <a href="/home/memolist"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div>
                <a href="/home/revise/<%= @spe_memo.id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="/home/memolist"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="reader_down">        
            <p><%= @spe_memo.content %></p>
        </div>
        
    </div>
    
    
</section>

<p class="btn" id="btn_read"><a href="/home/memolist">글 목록으로 가기</p>


</article>
</main>


<footer>
    <p> 제작자 </p>
</footer>












